body{
	background-color: #FCFCFC;
}
.contenedor .exito{
	text-align: center;
}

.exito h1{
	font-size: 3.2em;
	color: var(--color-titulos);
	margin-bottom: .5em;
}

.exito h2{
	margin-top: .5em;
	margin-bottom: 0em;
	font-size: 2.3em;
	color: #0DC5E6;
	font-family: var(--font1);
}

.exito p{
	margin-top: 1.5em;
	font-size: 1.4em;
	color: var(--color-parrafos);
	margin-bottom: 1em;
}


.exito a{
	border: none;
	padding: .6em 0em;
	border-radius: var(--btn-radio);
	font-size: 1.1em;
	margin-top: .5em;
	float: left;
	margin-left: 43%;
	width: 14%;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
}

#no{
	background-color: #E76B6F;
}


@media (max-width: 870px){
	.exito h1{
		font-size: calc(var(--tamaño-fuente-h1) - 2.2em);
	}
	.exito h2{
		margin-top: 1.5em;
		font-size: 1.4em;
	}

	.exito p{
		font-size: 1.1em;
		margin-bottom: 1.5em;
	}

	.exito a{
		margin-left: 35%;
		width: 30%;
		font-size: .9em;
	}
	
}
